@import "tailwindcss";

:root {
    color-scheme: light;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-family: "Vazirmatn", system-ui;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font: inherit;
}

body {
    inline-size: min(40rem, 100% - 2rem);

    margin-inline: auto;
}